<head>
  <link rel="stylesheet" href="./transacoesCss/transacoes.css">
  <title>Transações</title>
</head>


  <div class="todasAsAtividadesBg">
    <div id="todasAsAtividadesReceita" class="todasAsAtividades">
      <span class="fechar">X</span>
    </div>
  </div>
  <div class="todasAsAtividadesBg">
    <div id="todasAsAtividadesDespesa" class="todasAsAtividades">
      <span class="fechar">X</span>
    </div>
  </div>
  <div class="todasAsAtividadesBg">
    <div id="todasAsAtividadesEmprestimo" class="todasAsAtividades">
      <span class="fechar">X</span>
    </div>
  </div>

  <section class="graficos-container">
    <div class="slide">
      <div class="grafico-bg">
        <div class="botoes-filtro-bg">
          <nav>
            <button class="botoes-filtro">
              7 dias
            </button>
            <button class="botoes-filtro ativo">
              30 dias
            </button>
            <button class="botoes-filtro">
              90 dias
            </button>
          </nav>
        </div>
        <div class="gragico" style="width: 150px;">
          <canvas id="myChart"></canvas>
        </div>

        <div class="resumo">
          <div class="resumo-ganhos">
            <div class="div-setaUp">
              <img class="setaUp" src="./img/transacoes/setaUp.svg" alt="Seta para o auto">
            </div>
            <div>
              <p>Ganhos</p>
              <span class="ganho-span">R$ 0,00</span>
            </div>
          </div>

          <div class="resumo-emprestimos">
            <div class="div-bloco">
            </div>
            <div>
              <p>Emprestimos</p>
              <span class="emprestimo-span">R$ 0,00</span>
            </div>
          </div>

          <div class="resumo-gastos">
            <div class="div-setaDown">
              <img class="setaDown" src="./img/transacoes/setaDown.svg" alt="Seta para baixo">
            </div>
            <div>
              <p>Gastos</p>
              <span class="gasto-span">R$ 0,00</span>
            </div>
          </div>
        </div>
      </div>

      <div class="grafico-resumo-bg" id="graficoReceita">
        <div class="botoes-filtro-bg">
          <nav>
            <button class="botoes-filtro">
              7 dias
            </button>
            <button class="botoes-filtro ativo">
              30 dias
            </button>
            <button class="botoes-filtro">
              90 dias
            </button>
          </nav>
        </div>
        <p>Resumo de suas receitas</p>
        <span class="valorResumido">R$ 00,00</span>
        <span class="porcentagensAtuais">
          <span class="porcentagemComparada">0% nos ultimos dias</span><span class="diasComparados"></span>
          <span class="diferencaComparada">(R$00,00)</span>
        </span>
        <div class="resumosDivs">
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
        </div>

      </div>

      <div class="grafico-resumo-bg" id="graficoDespesa">
        <div class="botoes-filtro-bg">
          <nav>
            <button class="botoes-filtro">
              7 dias
            </button>
            <button class="botoes-filtro ativo">
              30 dias
            </button>
            <button class="botoes-filtro">
              90 dias
            </button>
          </nav>
        </div>
        <p>Resumo de suas despesas</p>
        <span class="valorResumido">R$ 00,00</span>
        <span class="porcentagensAtuais">
          <span class="porcentagemComparada">0% nos ultimos dias</span>
          <span class="diasComparados"></span>
          <span class="diferencaComparada">(R$00,00)</span>
        </span>
        <div class="resumosDivs">
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
        </div>

      </div>

      <div class="grafico-resumo-bg" id="graficoEmprestimo">
        <div class="botoes-filtro-bg">
          <nav>
            <button class="botoes-filtro">
              7 dias
            </button>
            <button class="botoes-filtro ativo">
              30 dias
            </button>
            <button class="botoes-filtro">
              90 dias
            </button>
          </nav>
        </div>
        <p>Resumo de seus Emprestimos</p>
        <span class="valorResumido">R$ 00,00</span>
        <span class="porcentagensAtuais">
          <span class="lucrosSomados">Lucrou R$ 0,00 nos últimos 30 dias</span>
          <span class="diasComparados"></span>
        </span>
        <div class="resumosDivs">
          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>

          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>

          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>

          <div class="informacoesDaCategoria">
            <h4 class="nomeDaCategoria"></h4>
            <span class="graficoPorcentagem"></span>
            <span class="porcentagemNumero"></span>
            <span class="valorTotalDaCategoria"></span>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="transacoesTotais-bg">
    <h2 class="h2-transacao">Todas as transações</h2>
    <div class="transacoesTotais">
      <div class="filtros-bg">
        <div class="filtros">
          <div class="filtroBtn filtro-despesa"><img src="./img/Movimentacoes/despesa.svg" alt="imagem de compra"></div>
          <div class="filtroBtn filtro-receita"><img src="./img/Movimentacoes/receita.svg" alt="imagem de venda"></div>
          <div class="filtroBtn filtro-transferencia"><img src="./img/Movimentacoes/transferencia.svg" alt="imagem de transferencia"></div>
          <div class="filtroBtn filtro-emprestimo"><img src="./img/Movimentacoes/emprestimo.svg" alt="imagem de emprestimo"></div>
        </div>
        <div class="pesquisar">
          <input type="text" placeholder="Buscar" class="pesquisa">
          <img class="lupa" src="./img/transacoes/lupa.svg" alt="imagem de lupa">
          <span>Fitrar</span>
          <img class="filtrar" src="./img/transacoes/filtro.svg" alt="imagem de filtro">
        </div>
      </div>
  <div id="movimentacoes-conteudo" class="movimentacoes-conteudo">
      <table id="tabela">
        <ul>
          {{#each tabelas}}
          <li class="movimentacoesLista" numero="{{this.id}}" id="{{this.tipo}}Label">
            <div class="icon icon-transacao">
              <img src="./img/Movimentacoes/{{this.tipo}}.svg" alt="icone de transferencia">
            </div>
            {{!-- emprestimo --}}
            {{#if this.total_pago}}
            <p id="nomeMov" class="nomeMov">Emprestou para {{this.nome}}</p>
            <p id="valor" class="valorInit">R$ {{this.valor}}</p>
            <p class="valorFinal" id="valorFinal">{{this.total_pago}}</p>
            {{!-- transferencia --}}
            {{else this.enviou}}
            <p id="condicao">Transferencia enviada</p>
            <p id="valor" class="valorInit">R$ {{this.valor}}</p>
            <p id="categoria" class="">{{this.nome}}</p>
            {{!-- Despesa / Receita --}}
            {{else}}
            <p id="nomeMov" class="nomeMov">{{this.nome}}</p>
            <p id="valor" class="valorInit">R$ {{this.valor}}</p>
            {{/if}}
            {{#if this.categoria}}
            <p id="categoria">{{this.categoria}}</p>
            {{/if}}
            <p class="data" id="data">{{this.data}}</p>
          </li>
          {{/each}}
        </ul>
      </table>
  </div>
    </div>

    </div>
  </section>
  <div id="editores">
  {{#each tabelas}}
  <form id="{{this.tipo}}LabelEdit" action="transacoes/edit" method="post" class="numero{{this.id}} editValueBg">
    <input type="hidden" value="{{this.id}}" name="id">

    {{#if this.total_pago}}
    <div class="editValue" numero="{{this.id}}">
      <div class="form-img">
        <p>Editar Emprestimo</p>
      </div>
      <span id="fecharEdit">X</span>
      <label for="nomeEdit">Nome</label>
      <input readonly name="nomeEdit" type="nome" value="{{this.nome}}" id="nomeEdit">

      <label for="valorEdit">Valor</label>
      <input readonly name="valor" type="number" id="valorEdit" value="{{this.valor}}">

      <label for="dataInfo">Data</label>
      <input readonly type="date" lang="pt-BR" format="dd/mm/yyyy" ;id="dataInfo" name="data" value="{{this.data}}" />

      <label for="parcelasEdit">Parcelas</label>
      <select disabled readonly name="parcelas" value="{{this.parcelas}}" id="parcelasEdit">
        <option style="display:none ;" value="0">parcelas 0x</option>
        <option value="1">Parcelas 1x</option>
        <option value="2">Parcelas 2x</option>
        <option value="3">Parcelas 3x</option>
        <option value="4">Parcelas 4x</option>
        <option value="5">Parcelas 5x</option>
        <option value="6">Parcelas 6x</option>
        <option value="7">Parcelas 7x</option>
        <option value="8">Parcelas 8x</option>
        <option value="9">Parcelas 9x</option>
        <option value="10">Parcelas 10x</option>
        <option value="11">Parcelas 11x</option>
        <option value="12">Parcelas 12x</option>
      </select>

      <label for="jurosEdit">Juros</label>
      <select disabled name="juros" value="{{this.juros}}" id="jurosEdit">
        <option value="0">0% de juros</option>
        <option value="1">1% de juros</option>
        <option value="2">2% de juros</option>
        <option value="3">3% de juros</option>
        <option value="4">4% de juros</option>
        <option value="5">5% de juros</option>
        <option value="6">6% de juros</option>
        <option value="7">7% de juros</option>
        <option value="8">8% de juros</option>
        <option value="9">9% de juros</option>
        <option value="10">10% de juros</option>
        <option value="11">11% de juros</option>
        <option value="12">12% de juros</option>
        <option value="13">13% de juros</option>
        <option value="14">14% de juros</option>
        <option value="15">15% de juros</option>
        <option value="16">16% de juros</option>
        <option value="17">17% de juros</option>
        <option value="18">18% de juros</option>
        <option value="19">19% de juros</option>
        <option value="20">20% de juros</option>
        <option value="21">21% de juros</option>
        <option value="22">22% de juros</option>
        <option value="23">23% de juros</option>
        <option value="24">24% de juros</option>
        <option value="25">25% de juros</option>
        <option value="26">26% de juros</option>
        <option value="27">27% de juros</option>
        <option value="28">28% de juros</option>
        <option value="29">29% de juros</option>
        <option value="30">30% de juros</option>
      </select>

      <label for="jurosCompEdit">Juros ao mês</label>
      <select disabled name="juros_compostos" value="{{this.juros_composto}}" id="jurosCompEdit">
        <option value="0">0% ao mês</option>
        <option value="1">1% ao mês</option>
        <option value="2">2% ao mês</option>
        <option value="3">3% ao mês</option>
        <option value="4">4% ao mês</option>
        <option value="5">5% ao mês</option>
        <option value="6">6% ao mês</option>
        <option value="7">7% ao mês</option>
        <option value="8">8% ao mês</option>
        <option value="9">9% ao mês</option>
        <option value="10">10% ao mês</option>
        <option value="11">11% ao mês</option>
        <option value="12">12% ao mês</option>
      </select>
      <label for="diferencaEdit">Diferença</label>
      <input readonly type="diferenca" id="diferencaEdit">
      <label for="valorFinEdit">Valor Final</label>
      <input readonly type="text" name="total_pago" value="{{this.total_pago}}" id="valorFinEdit">
      <div class='botaoEdit'>
        <button type="button" id="editar"></button>
        <button type="submit" id="enviar">Confirmar</button>
        <button type="button" id="deletar">Deletar</button>
      </div>

    </div>

    {{else this.enviou}}
    <div class="editValue" numero="{{this.id}}">
      <div class="form-img">
        <p>Editar Transferencia</p>
      </div>
      <span id="fecharEdit">X</span>
      <label for="nomeEdit">Nome</label>
      <input readonly name="nome" value="{{this.nome}}" type="text" id="nomeEdit">

      <label for="valorEdit">Valor</label>
      <input readonly name="valor" type="number" value="{{this.valor}}" id="valorEdit">

      <label for="dataInfo">Data</label>
      <input readonly type="date" lang="pt-BR" format="dd/mm/yyyy" ; id="dataInfo" name="data" value="{{this.data}}" />

      <div class="botaoEdit">
        <button type="button" id="editar"></button>
        <button type="submit" id="enviar">Confirmar</button>
        <button type="button" id="deletar">Deletar</button>
      </div>

    </div>
    {{else}}
    <div class="editValue" numero="{{this.id}}">
      <div class="form-img">
        <p>Editar {{this.tipo}}</p>
      </div>
      <span id="fecharEdit">X</span>
      <label for="nomeEdit">Nome</label>
      <input readonly type="text" name='nome' value="{{this.nome}}" id="nomeEdit">

      <label for="valorEdit">Valor</label>
      <input readonly name="valor" type="number" value="{{this.valor}}" id="valorEdit">

      <label for="dataInfo">Data</label>
      <input readonly type="date" lang="pt-BR" format="dd/mm/yyyy" ; id="dataInfo" name="data" value="{{this.data}}" />

      <label for="categoriaEdit">Categoria</label>
      <select disabled id="categoriaEdit" name="categoria" value="{{this.categoria}}">
        <option selected hidden value="{{this.categoria}}">{{this.categoria}}</option>
      </select>

      <label for="parcelasEdit">Parcelas</label>
      <select disabled readonly name="parcelas" value="{{this.parcelas}}" id="parcelasEdit">
        <option selected  hidden value="{{this.parcelas}}">Parcela {{this.parcelas}}x</option>
        <option value="1">Parcelas 1x</option>
        <option value="2">Parcelas 2x</option>
        <option value="3">Parcelas 3x</option>
        <option value="4">Parcelas 4x</option>
        <option value="5">Parcelas 5x</option>
        <option value="6">Parcelas 6x</option>
        <option value="7">Parcelas 7x</option>
        <option value="8">Parcelas 8x</option>
        <option value="9">Parcelas 9x</option>
        <option value="10">Parcelas 10x</option>
        <option value="11">Parcelas 11x</option>
        <option value="12">Parcelas 12x</option>
      </select>
      <div class='botaoEdit'>
        <button type="button" id="editar"></button>
        <button type="submit" id="enviar">Confirmar</button>
        <button type="button" id="deletar">Deletar</button>
      </div>

    </div>
    {{/if}}
  </form>
  <div class="confirmar" id="form{{this.id}}">
    <span>Deseja mesmo deletar?</span>
    <form action="transacoes/deletar" method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <button type="submit" id="sim">Sim</button>
    </form>
    <button type="button" id="nao">Não</button>
  </div>
  {{/each}}
  <ul class="categoriasGasto">
  {{#each categoriasGasto}}
    <li>{{this.categoria}}</li>
  {{/each}}
  </ul>
    <ul class="categoriasReceita">
  {{#each categoriasReceitas}}
    <li>{{this.categoria}}</li>
  {{/each}}
  </ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./script/transacoesFiltros.js"></script>
<script src="./script/resumosReceitas.js"></script>
<script src="./script/resumosDespesas.js"></script>
<script src="./script/resumoEmprestimos.js"></script>
<script src="./script/slide.js"></script>
<script src="./script/charts.js"></script>


